<hr />
<div class="navbar-btn">
    <div class="navbar-left navbar-left">
        <div class="form-group">
            <a asp-controller="Home" class="btn btn-default btn-sm" asp-action="Index">Home</a>
            <a asp-action="Create" class="btn btn-primary btn-sm">Novo Registro</a>
        </div>
    </div>
</div>
<div class="navbar-form">
    <form class="navbar-right navbar-right">
        <div class="input-group">
            <input type="text" name="consulta" value=@ViewData["Consulta"] class="form-control input-sm" placeholder="Digite sua pesquisa" style="font-style:italic">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-success btn-sm">Consultar</button>
            </span>
        </div>
    </form>
</div>