@using X.PagedList;
@using X.PagedList.Mvc.Core;

@model IEnumerable<object>

<hr />
<div class="row">
    <div class="col-md-8">
        <span class="pull-left">
            @Html.PagedListPager((IPagedList)Model, pagina => Url.Action("Index", new { pagina, consulta = ViewData["Consulta"] }))
        </span>
    </div>
    <div class="col-md-4">
        <span class="pull-right">
            <a class="text-primary">
                @((Model as IPagedList).FirstItemOnPage) a @((Model as IPagedList).LastItemOnPage) de @((Model as IPagedList).TotalItemCount) Registro(s)
            </a>
        </span>
    </div>
</div>
