<a asp-action="Details" class="btn btn-success btn-xs" asp-route-id=@ViewData["Id"]>Visualizar</a>
<a asp-action="Edit" class="btn btn-warning btn-xs" asp-route-id=@ViewData["Id"]>Alterar</a>
<a asp-action="Delete" class="btn btn-danger btn-xs" asp-route-id=@ViewData["Id"]>Excluir</a>
