<a asp-action="Details" class="btn btn-xs" asp-route-id=@ViewData["Id"]>
    <img class="img-responsive" src="~/images/VisualizarSuccess.png" />
</a>

<a asp-action="Edit" class="btn btn-xs" asp-route-id=@ViewData["Id"]>
    <img class="img-responsive" src="~/images/AlterarWarning.png" />
</a>

<a asp-action="Delete" class="btn btn-xs" asp-route-id=@ViewData["Id"]>
    <img class="img-responsive" src="~/images/ExcluirDanger.png" />
</a>