<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SiacWeb</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-flatly.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">SiacWeb</a>-->
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <!--Menu Compra-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Compra</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a asp-area="" asp-controller="Fornecedor" asp-action="Index">Fornecedor</a></li>
                            <li><a asp-area="" asp-controller="Transportadora" asp-action="Index">Transportadora</a></li>
                            <li class="divider"></li>
                            <li><a asp-area="" asp-controller="PedidoCompra" asp-action="Index">Pedido de Compra</a></li>
                            <li><a asp-area="" asp-controller="CotacaoCompra" asp-action="Index">Cotação de Compra</a></li>
                        </ul>
                    </li>

                    <!--Menu Venda-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Venda</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a asp-area="" asp-controller="Clientes" asp-action="Index">Cliente</a></li>
                            <li class="divider"></li>
                            <li><a asp-area="" asp-controller="PedidoVenda" asp-action="Index">Pedido de Venda</a></li>
                            <li><a asp-area="" asp-controller="CotacaoVenda" asp-action="Index">Cotação de Venda</a></li>
                            <li class="divider"></li>
                            <li><a asp-area="" asp-controller="ReaberturaPedido" asp-action="Index">Reabertura de Pedido</a></li>
                            <li><a asp-area="" asp-controller="DevolucaoPedido" asp-action="Index">Devolução de Pedido</a></li>
                            <li class="divider"></li>
                            <li><a asp-area="" asp-controller="PesquisaProduto" asp-action="Index">Pesquisa de Produto</a></li>
                        </ul>
                    </li>

                    <!--Menu Caixa-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Caixa</a>
                        <ul class="dropdown-menu" role="menu"></ul>
                    </li>

                    <!--Menu Financeiro-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Financeiro</a>
                        <ul class="dropdown-menu" role="menu"></ul>
                    </li>

                    <!--Menu Cobrança-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Cobrança</a>
                        <ul class="dropdown-menu" role="menu"></ul>
                    </li>

                    <!--Menu Estoque-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Estoque</a>
                        <ul class="dropdown-menu" role="menu"></ul>
                    </li>

                    <!--Menu Gerência-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Gerência</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a asp-area="" asp-controller="Empresas" asp-action="Index">Empresa</a></li>
                            <li><a asp-area="" asp-controller="CentroDeCustos" asp-action="Index">Centro de Custo</a></li>
                            <li class="divider"></li>
                            <li><a asp-area="" asp-controller="Funcionarios" asp-action="Index">Funcionário</a></li>
                            <li class="divider"></li>
                            <li><a asp-area="" asp-controller="Configuracao" asp-action="Index">Configuração</a></li>
                        </ul>
                    </li>

                    <!--Menu Ajuda-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Ajuda</a>
                        <ul class="dropdown-menu" role="">
                            <li><a asp-area="" asp-controller="Home" asp-action="About">Sobre</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contato</a></li>
                        </ul>
                    </li>

                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()        
        <footer>
            <!--<p>&copy; 2019 - Siac</p>-->
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>