@model SiacWeb.Models.ViewModels.EmpresaFormViewModel

@{
    ViewData["Title"] = "Empresa";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" class="form-horizontal jumbotron">
    <fieldset>
        <div class="form-group has-success">
            <label class="col-lg-2 control-label">Dados Cadastrais</label>
        </div>

        <div class="form-group">
            <label asp-for="Empresa.Descricao" class="col-lg-2 control-label" for="inputSmall"></label>
            <div class="col-lg-10">
                <input asp-for="Empresa.Descricao" class="form-control input-sm" id="inputSmall" placeholder="Descrição" />
                <span asp-validation-for="Empresa.Descricao" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Empresa.NomeFantasia" class="col-lg-2 control-label" for="inputSmall"></label>
            <div class="col-lg-10">
                <input asp-for="Empresa.NomeFantasia" class="form-control input-sm" id="inputSmall" placeholder="Nome Fantasia" />
                <span asp-validation-for="Empresa.NomeFantasia" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Empresa.RazaoSocial" class="col-lg-2 control-label" for="inputSmall"></label>
            <div class="col-lg-10">
                <input asp-for="Empresa.RazaoSocial" class="form-control input-sm" id="inputSmall" placeholder="Razão Social" />
                <span asp-validation-for="Empresa.RazaoSocial" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Empresa.CnpjBase" class="col-lg-2 control-label" for="inputSmall"></label>
            <div class="col-lg-10">
                <input asp-for="Empresa.CnpjBase" class="form-control input-sm" id="inputSmall" placeholder="CNPJ Base" />
                <span asp-validation-for="Empresa.CnpjBase" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Empresa.Site" class="col-lg-2 control-label" for="inputSmall"></label>
            <div class="col-lg-10">
                <input asp-for="Empresa.Site" class="form-control input-sm" id="inputSmall" placeholder="Site" />
                <span asp-validation-for="Empresa.Site" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <a asp-action="Index" class="btn btn-default btn-sm">Cancelar</a>
                <input type="submit" value="Salvar" class="btn btn-primary btn-sm">
            </div>
        </div>
    </fieldset>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}