@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>

<div class="jumbotron">
    <h3>@ViewData["Message"]</h3>

    <address>
        Rua Professor Manoel Lourenço, 105<br />
        Jóquei Clube, Fortaleza-CE, CEP 60510-107<br />
        <abbr title="Whatsapp">Whatsapp:</abbr>
        (85)99701-7055
    </address>

    <address>
        <strong>Suporte:</strong> <a href="mailto:anndersonn.gonncalves@gmail.com">anndersonn.gonncalves@gmail.com</a><br />
    </address>
</div>