@{
    ViewData["Title"] = "Home";
}
<br />
<br />
<br />
<br />
<br />
<div class="container">
    <div style="display:flex;justify-content:center;align-items:center;">
        <img class="img-responsive" src="~/images/LOGO_SIAC_50_2.bmp" />
    </div>
</div>
