@model SiacWeb.Models.ViewModels.ClienteFormViewModel

@{
    ViewData["Title"] = "Cliente";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" class="form-horizontal jumbotron">
    <fieldset>
        <div class="form-group has-success">
            <label class="col-lg-2 control-label">Dados Cadastrais</label>
        </div>

        <div class="form-group">
            <label asp-for="Cliente.EmpresaId" class="col-lg-2 control-label" for="inputSmall"></label>
            <div class="col-lg-10">
                <select asp-for="Cliente.EmpresaId" asp-items="@(new SelectList(Model.Empresas,"Id", "RazaoSocial"))" class="form-control input-sm" id="inputSmall" placeholder="Empresa"></select>
                <span asp-validation-for="Cliente.EmpresaId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Cliente.RazaoSocial" class="col-lg-2 control-label" for="inputSmall"></label>
            <div class="col-lg-10">
                <input asp-for="Cliente.RazaoSocial" class="form-control input-sm" id="inputSmall" placeholder="Nome" />
                <span asp-validation-for="Cliente.RazaoSocial" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Cliente.CNPJ" class="col-lg-2 control-label" for="inputSmall"></label>
            <div class="col-lg-10">
                <input asp-for="Cliente.CNPJ" class="form-control input-sm" id="inputSmall" placeholder="CNPJ" />
                <span asp-validation-for="Cliente.CNPJ" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Cliente.IE" class="col-lg-2 control-label" for="inputSmall"></label>
            <div class="col-lg-10">
                <input asp-for="Cliente.IE" class="form-control input-sm" id="inputSmall" placeholder="Inscrição Estadual" />
                <span asp-validation-for="Cliente.IE" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Cliente.IM" class="col-lg-2 control-label" for="inputSmall"></label>
            <div class="col-lg-10">
                <input asp-for="Cliente.IM" class="form-control input-sm" id="inputSmall" placeholder="Inscrição Municipal" />
                <span asp-validation-for="Cliente.IM" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Cliente.CPF" class="col-lg-2 control-label" for="inputSmall"></label>
            <div class="col-lg-10">
                <input asp-for="Cliente.CPF" class="form-control input-sm" id="inputSmall" placeholder="CPF" />
                <span asp-validation-for="Cliente.CPF" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Cliente.RG" class="col-lg-2 control-label" for="inputSmall"></label>
            <div class="col-lg-10">
                <input asp-for="Cliente.RG" class="form-control input-sm" id="inputSmall" placeholder="Número de identidade" />
                <span asp-validation-for="Cliente.RG" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group has-success">
            <label class="col-lg-2 control-label">Contato</label>
        </div>

        <div class="form-group">
            <label asp-for="Cliente.Endereco.Telefone" class="col-lg-2 control-label" for="inputSmall"></label>
            <div class="col-lg-10">
                <input asp-for="Cliente.Endereco.Telefone" class="form-control input-sm" id="inputSmall" placeholder="Telefone Fixo" />
                <span asp-validation-for="Cliente.Endereco.Telefone" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Cliente.Celular" class="col-lg-2 control-label" for="inputSmall"></label>
            <div class="col-lg-10">
                <input asp-for="Cliente.Celular" class="form-control input-sm" id="inputSmall" placeholder="Celular" />
                <span asp-validation-for="Cliente.Celular" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Cliente.Whatsapp" class="col-lg-2 control-label" for="inputSmall"></label>
            <div class="col-lg-10">
                <input asp-for="Cliente.Whatsapp" class="form-control input-sm" id="inputSmall" placeholder="Whatsapp" />
                <span asp-validation-for="Cliente.Whatsapp" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Cliente.Telegram" class="col-lg-2 control-label" for="inputSmall"></label>
            <div class="col-lg-10">
                <input asp-for="Cliente.Telegram" class="form-control input-sm" id="inputSmall" placeholder="Telegram" />
                <span asp-validation-for="Cliente.Telegram" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Cliente.Email" class="col-lg-2 control-label" for="inputSmall"></label>
            <div class="col-lg-10">
                <input asp-for="Cliente.Email" class="form-control input-sm" id="inputSmall" placeholder="Email" />
                <span asp-validation-for="Cliente.Email" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Cliente.Facebook" class="col-lg-2 control-label" for="inputSmall"></label>
            <div class="col-lg-10">
                <input asp-for="Cliente.Facebook" class="form-control input-sm" id="inputSmall" placeholder="Facebook" />
                <span asp-validation-for="Cliente.Facebook" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Cliente.Instagram" class="col-lg-2 control-label" for="inputSmall"></label>
            <div class="col-lg-10">
                <input asp-for="Cliente.Instagram" class="form-control input-sm" id="inputSmall" placeholder="Instagram" />
                <span asp-validation-for="Cliente.Instagram" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Cliente.Site" class="col-lg-2 control-label" for="inputSmall"></label>
            <div class="col-lg-10">
                <input asp-for="Cliente.Site" class="form-control input-sm" id="inputSmall" placeholder="Site" />
                <span asp-validation-for="Cliente.Site" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group has-success">
            <label class="col-lg-2 control-label">Endereço</label>
        </div>

        <div class="form-group">
            <label asp-for="Cliente.Endereco.TipoDeLogradouro" class="col-lg-2 control-label" for="inputSmall"></label>
            <div class="col-lg-10">
                <input asp-for="Cliente.Endereco.TipoDeLogradouro" class="form-control input-sm" id="inputSmall" placeholder="Tipo de Logradouro" />
                <span asp-validation-for="Cliente.Endereco.TipoDeLogradouro" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Cliente.Endereco.Logradouro" class="col-lg-2 control-label" for="inputSmall"></label>
            <div class="col-lg-10">
                <input asp-for="Cliente.Endereco.Logradouro" class="form-control input-sm" id="inputSmall" placeholder="Logradouro" />
                <span asp-validation-for="Cliente.Endereco.Logradouro" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Cliente.Endereco.Bairro" class="col-lg-2 control-label" for="inputSmall"></label>
            <div class="col-lg-10">
                <input asp-for="Cliente.Endereco.Bairro" class="form-control input-sm" id="inputSmall" placeholder="Bairro" />
                <span asp-validation-for="Cliente.Endereco.Bairro" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Cliente.Endereco.UF" class="col-lg-2 control-label" for="inputSmall"></label>
            <div class="col-lg-10">
                <input asp-for="Cliente.Endereco.UF" class="form-control input-sm" id="inputSmall" placeholder="UF" />
                <span asp-validation-for="Cliente.Endereco.UF" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Cliente.Endereco.Cidade" class="col-lg-2 control-label" for="inputSmall"></label>
            <div class="col-lg-10">
                <input asp-for="Cliente.Endereco.Cidade" class="form-control input-sm" id="inputSmall" placeholder="Cidade" />
                <span asp-validation-for="Cliente.Endereco.Cidade" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Cliente.Endereco.CEP" class="col-lg-2 control-label" for="inputSmall"></label>
            <div class="col-lg-10">
                <input asp-for="Cliente.Endereco.CEP" class="form-control input-sm" id="inputSmall" placeholder="CEP" />
                <span asp-validation-for="Cliente.Endereco.CEP" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <a asp-action="Index" class="btn btn-default btn-sm">Cancelar</a>
                <input type="submit" value="Salvar" class="btn btn-primary btn-sm">
            </div>
        </div>
    </fieldset>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}